.dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.dashboard-image {
  height: 2rem;
}
.dashboard-hero {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  min-height: 80vh;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.dashboard-data {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-table {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-data-table {
  width: 100%;
  border-collapse: collapse;
}
.dashboard-data-table td, .dashboard-data-table th {
  width: 20%;
  padding: 4px;
}
.dashboard-data-table tr:hover:not(thead tr) {
  background-color: #ddd;
}
.dashboard-data-table th {
  font-weight: 400;
  text-align: center;
}
.dashboard-soil-image-and-crops {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: -5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-soil-image {
  width: 200px;
  object-fit: cover;
}
.dashboard-image-label {
  font-size: 11px;
  text-transform: uppercase;
}
.dashboard-suggestion {
  gap: 0;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-suggestion-header {
  width: 100%;
  text-transform: uppercase;
}
.dashboard-suggestion-list {
  margin-top: 0.5rem;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0.5rem;
  list-style-type: disc;
  list-style-position: inside;
}
.dashboard-filter {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-filter-header {
  width: 100%;
}
.dashboard-filters {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-filters-a {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.dashboard-date {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.dashboard-text09 {
  align-self: center;
}
.dashboard-input {
  top: 0px;
  right: 0px;
  width: 60%;
  bottom: 0px;
  height: 60%;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
}
.dashboard-soil {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.dashboard-text12 {
  align-self: center;
}
.dashboard-select {
  top: 0px;
  right: 0px;
  width: 75%;
  bottom: 0px;
  height: 60%;
  margin: auto;
  position: absolute;
}
.dashboard-accuracy {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.dashboard-text15 {
  align-self: center;
}
.dashboard-select1 {
  top: 0px;
  right: 0px;
  width: 60%;
  bottom: 0px;
  height: 60%;
  margin: auto;
  position: absolute;
}
.dashboard-filters-b {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.dashboard-p-h {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.dashboard-text18 {
  align-self: center;
}
.dashboard-input1 {
  top: 0px;
  right: 0px;
  width: 60%;
  bottom: 0px;
  height: 60%;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
}
.dashboard-temperature {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.dashboard-text21 {
  align-self: center;
}
.dashboard-input2 {
  top: 0px;
  right: 0px;
  width: 60%;
  bottom: 0px;
  height: 60%;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
}
.dashboard-crops {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.dashboard-text24 {
  align-self: center;
}
.dashboard-input3 {
  top: 0px;
  right: 0px;
  width: 60%;
  bottom: 0px;
  height: 60%;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
}
.dashboard-filter-buttons {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-end;
}
.dashboard-clear {
  align-self: center;
}
.dashboard-apply {
  align-self: center;
}
.dashboard-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-end;
}
.dashboard-image2 {
  height: 2rem;
  object-fit: cover;
}
@media(max-width: 991px) {
  .dashboard-hero {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .dashboard-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .dashboard-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .dashboard-filters-a {
    width: 100%;
    height: 50%;
  }
  .dashboard-filters-b {
    width: 100%;
    height: 50%;
  }
  .dashboard-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .dashboard-header {
    padding: var(--dl-space-space-unit);
  }
  .dashboard-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .dashboard-data {
    flex-direction: column;
  }
  .dashboard-table {
    width: auto;
    align-self: stretch;
  }
  .dashboard-soil-image-and-crops {
    width: 60%;
    align-self: center;
  }
  .dashboard-filters {
    height: auto;
  }
  .dashboard-filters-a {
    gap: 0;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .dashboard-date {
    width: 75%;
    height: var(--dl-size-size-small);
    align-self: center;
  }
  .dashboard-input {
    width: 65%;
    font-size: 14px;
  }
  .dashboard-soil {
    width: 75%;
    height: var(--dl-size-size-small);
    align-self: center;
  }
  .dashboard-accuracy {
    width: 75%;
    height: var(--dl-size-size-small);
    align-self: center;
  }
  .dashboard-filters-b {
    gap: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .dashboard-p-h {
    width: 75%;
    height: var(--dl-size-size-small);
    align-self: center;
  }
  .dashboard-input1 {
    width: 65%;
    font-size: 14px;
  }
  .dashboard-temperature {
    width: 75%;
    height: var(--dl-size-size-small);
    align-self: center;
  }
  .dashboard-input2 {
    width: 65%;
    font-size: 14px;
  }
  .dashboard-crops {
    width: 75%;
    height: var(--dl-size-size-small);
    align-self: center;
  }
  .dashboard-input3 {
    width: 65%;
    font-size: 14px;
  }
  .dashboard-footer {
    padding: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .dashboard-image2 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
